.span-shadow {
  background-color: rgba(128, 128, 128, 0.096);
  font-size: 13px;
  padding: 4px;
  border-radius: 8px;
}

.div-shadow {
  background-color: rgba(128, 128, 128, 0.205);
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 20px;
}